<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>

    <!-- bootstrap4 css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">


    <!-- bootstrap4 JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    

        <!-- angularJS CDN link -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

        <script src="js/myscript.js"></script>

</head>

<body ng-app="MyApp" ng-controller="MyController">

   <div class="container">
    <div class="jumbotron py-3">
        <h1 class="text-center">{{title}}</h1>
        <p class="pt-3">The COVID-19 pandemic in India is a part of the worldwide pandemic of coronavirus disease 2019 (COVID-19) 
            caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2).
        </p>
   
          <!-- all data -->

          <!-- to get below 3 row , used emit shortcut for 1 row and 3 col- >  
            .row>.col-md-4*3 -->
          <div class="row text-center">
              <div class="col-md-4">
                  <!-- div.card>.card-body -->
                <div class="card bg-warning text-black">
                    <div class="card-body">
                        <h3>Confirmed Cases</h3>
                        <h3>{{all_data.confirmed.value}}</h3>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card bg-success text-black">
                    <div class="card-body">
                        <h3>Recovered Cases</h3>
                        <h3>{{all_data.recovered.value}}</h3>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card bg-danger text-black">
                    <div class="card-body">
                        <h3>Death Cases</h3>
                        <h3>{{all_data.deaths.value}}</h3>
                    </div>
                </div>
              </div>
          </div>
          <!-- end all data -->


          <!-- form controll makes the width full -->
          <input 
          type="text" 
          class="form-control mt-4"
          placeholder="Enter Country here"
          ng-model="country"
          ng-change="get_country_data()"
          />

          <!-- country data -->

          <!-- show only after we try country name, use ng-if = variable that holds country data -->
         <div class="container-fluid" ng-if="country_data" >
          <h1 class="text-center mt-4 text-uppercase">{{country}} Status</h1>
         <img src="https://www.countryflags.io/{{code.alpha2Code}}/shiny/64.png">
      
          <div class="row text-center mt-4" >
            <div class="col-md-4">
                <!-- div.card>.card-body -->
              <div class="card bg-warning text-black">
                  <div class="card-body">
                      <h3>Confirmed Cases</h3>
                      <h3>{{country_data.confirmed.value}}</h3>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-success text-black">
                  <div class="card-body">
                      <h3>Recovered Cases</h3>
                      <h3>{{country_data.recovered.value}}</h3>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-danger text-black">
                  <div class="card-body">
                      <h3>Death Cases</h3>
                      <h3>{{country_data.deaths.value}}</h3>
                  </div>
              </div>
            </div>
        </div>
    </div>
          <!-- end country data -->
        
    </div>
   </div>
</body>

</html>